* {
  font-family: "Open Sans", Helvetica, sans-serif;
}
a {
 color: #1490a7;
}

ul {margin: 0; padding: 0}
ul>li {list-style: none;}
.btn-primary:focus,
.btn-primary:active,
.btn-primary {
	background: #1490a7;
	border: 1px solid #1490a7;
	width: 100%;
}
.btn-primary:hover {
	background: #253240;
}
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary.disabled {
	background: #1490a7;
	border: 1px solid #1490a7;
}
iframe {
	max-width: 100%;
}
p.title {
font-family: 'Roboto Slab', serif;
  margin: 10px 0;
  font-weight: bold;
  font-size: 20px;
  } 
.modal .modal-content {
	border-radius: 0px;
}
.modal span {color: #1490a7;}
.modal button {
  background: #1490a7;
  margin: 10px;
  color: #fff;
  padding: 3px 20px;
  position: absolute;
  right: 0;
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.modal button:hover {
	background: #253240;
	color: #fff;
}

.top-bar {
	background: #253240;
	color: #fff;
}
.top-bar h3 {
	padding: 6px 0;
	margin: 0;
	line-height: 1;
}
.top-bar h3 a {
  font-size: 16px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  font-weight: 100;
  color: #fff;
}
.top-bar h3 a:hover {text-decoration: none;}

.top-bar ul.menu {float: right; margin: 0;}
.top-bar ul.menu > li {
     display: inline-block;
     border-left: 1px solid #354658;
     padding: 0;
     margin: 0;
   }
.top-bar ul.menu > li:hover {background: #1490a7; color: #000;}
.top-bar ul.menu > li.last {border-right: 1px solid #354658;}
.top-bar ul.menu > li > a {
        color: #fff;
        font-weight: 100;
        padding: 8px 10px;
        display: inline-block;
        margin: 0;
    }
.top-bar ul.menu > li > a:hover {text-decoration: none;}

.main {background: #f4f5f5;}
.intro {   padding: 40px 0 20px 20px;}

.intro .logo {
	width: 70px;
    margin-right: 25px;
    padding-bottom: 10px;
    float: left;
}
.intro h3 {
	margin-top: 0px;
}
.intro h3 a{
	font-family: 'Roboto Slab', serif;
	color: #333;
	font-size: 20px;
}
.intro h3 a:hover {
	text-decoration: none;
	color: #777;
}
.intro h1 {
	font-family: 'Roboto Slab', serif;
	line-height: 0.8;
	font-weight: bold;
	margin-top: 10px;
}
.intro h1 small {font-family: 'Roboto Slab', serif;}

.main .info {
  display: block;
  color: #1490a7;
  font-size: 11px;
  margin: 10px 0;
  padding-left: 20px;
	
}

.main form select{
	margin-bottom: 20px;
}
.has-error .form-control {border-color: #fb6b61;}
.has-error .help-block {
  color: #fff;
  background: #fb6b61;
  border-radius: 5px;
  float: left;
  padding: 0 10px;}
.main .mode {margin: 20px 0;}

#istruzioni { padding: 30px 0 20px;	} 
#istruzioni span {
  background: #253240;
  color: #fff;
  width: 23px;
  display: inline-block;
  margin-right: 10px;
}
#istruzioni .i1, #istruzioni .i2, #istruzioni .i3 {
	text-align: center;
	padding: 20px 50px;	
}
#istruzioni .i1 p, #istruzioni .i2 p, #istruzioni .i3 p {
	color: #253240;
	font-size: 16px;
}
#istruzioni .i1 p:before {
  content: "";
  margin: 0 auto;
  display: block;
  width: 75px;
  height: 75px;
  background: url("../images/istruzioni.png") -6px 0 transparent;
  margin-bottom: 20px;
}
#istruzioni .i2 p:before {
  content: "";
  margin: 0 auto;
  display: block;
  width: 75px;
  height: 75px;
  background: url("../images/istruzioni.png") -86px 0 transparent;
  margin-bottom: 20px;
}
#istruzioni .i3 p:before {
  content: "";
  margin: 0 auto;
  display: block;
  width: 75px;
  height: 75px;
  background: url("../images/istruzioni.png") -156px 0 transparent;
  margin-bottom: 20px;
}

#help .container {
	padding: 50px 0;
	border-top: 1px solid #ccc;
	font-size: 16px;
	  line-height: 1.5;
}

#help .container  span {
  color: #1490a7;
}

#help .fa {
	color: #ddd;
	padding-right: 10px;
}
#help li {
	font-size: 14px;
}
#social { padding: 40px 0 60px;}
#social .youtube {
	width: 560px;
	height: 315px;
	background: #ccc;
	max-width: 100%;
} 
#social a {
	color: #000;
	padding: 3px 0;
	text-decoration: underline;
}
#social .fa {
	font-size: 20px;
	margin-right: 10px;
	color: #ccc;
}

#social .get-t .inner{
  text-align: center;
  background: #f4f5f5;
  padding: 25px 20px 70px 20px;
}
#social .get-t .fa {
	font-size: 35px;
	padding-bottom: 20px;
}
#social .get-t a {text-decoration: none;}
#social .get-t .btn {
  background: #1490a7;
  border: 1px solid #1490a7;	
  color: #fff;
  padding: 3px 15px;
   margin-top: 20px;
}
#social .get-t .btn:hover {background: #253240;}
#social .get-t .btn a {color: #fff;}
#social .get-t .btn a:hover {text-decoration: none;}

.fb-like-box {
    padding-top: 30px;	
}

.footer {
  background: #1490a7;
  color: #fff;
  padding: 30px 0 5px 0;
  text-align: center;
  font-size: 12px;
  line-height: 0.2;
}

.footer a {color: #fff;}

.social-likes  {padding: 20px 0 0 0 !important;}
.social-likes__widget {margin: 4px !important}
.social-likes__widget:hover span {color: #fff !important;}

#thanks {
    background: #f4f5f5;
    padding: 15px 0;
}
#thanks  .col {
    border-right: 1px solid #253240;
    padding: 25px 15px;
}
#thanks  .col:first-child {text-align: center}
#thanks  .col:last-child {border: none;}
#thanks h1 {
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
}
#thanks h5 {
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

#thanks p {
    font-size: 11px;
}